<div class="wrapper">
  <h2>All Saved Groups in ITG for this model</h2>
  <button mat-raised-button (click)="openDialog()">Create Group</button>
  <mat-list>
    <mat-list-item matRipple class="item" *ngFor="let item of groups"
      ><div mat-line (click)="selectGroup(item.id)">
        <span>{{ item.name }} ({{ item.nodes.length }} nodes) </span>
      </div>
      <button mat-button color="warn" (click)="deleteGroup(item.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
  <p *ngIf="groups.length === 0">No Groups Defined</p>
</div>
